.canvas {
  position: relative;
  margin: 2rem;
  height: calc(100vh - 4rem);
  background: rgb(212, 212, 212);

  .block {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: rgb(155, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
      box-shadow 0.2s,
      background-color 0.2s;

    &.dragging {
      box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 0.2);
      background: rgb(168, 131, 131);
    }

    p {
      user-select: none;
    }
  }
}
